.Main{
  background-image: url('../../public/pexels-photo-3974145.jpeg');
  width: 100%;
  height: 120rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}